.example {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
  background-color: #f2f2f2;

  // временно
  min-height: 707px;
}

.example__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  color: #444444;
}

.example__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__item-result {
  font-size: 24px;
  line-height: 24px;
}

.example__item-value {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  color: #444444;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
}

.example__cat {
  display: none;
}

.example__cat--active {
  display: block;
}

.example .control__element {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .example {
    width: 768px;
    padding: 0 30px;

    //ВРЕМЕННО
    min-height: 1082px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 1300px;
    padding: 0 40px;

    min-height: 652px;
  }
}
