.page-form {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.page-form__title {
  font-size: 36px;
  line-height: 60px;
}

.page-form__promo {
  font-size: 14px;
}

.form__fieldset {
  font-size: 24px;
  line-height: 24px;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-weight: normal;
}

.text-field__input {
  font: inherit;
  color: #444444;
}
